page-tabs {

  .ion-md-dungeon {
    background-image: url('../assets/imgs/dungeon.png');
    width: 32px;
    height: 32px;
  }

  .ion-md-trial {
    background-image: url('../assets/imgs/trial.png');
    width: 32px;
    height: 32px;
  }

  .ion-md-raid {
    background-image: url('../assets/imgs/raid.png');
    width: 32px;
    height: 32px;
  }  

}
