page-dungeon-info {
  .dungeon-tip{
    margin-top: 0px;
    padding-left: 24px;

  }
  li{
    margin-bottom: 4px;
    padding-right: 20px;
    margin-bottom: 10px;
  }

  .role{
    height: auto;
    width: 25px;
  }

  .spell-name{
    background-color: orange;
    color: white;
    font-weight:bolder;
  }

  .tip-description{
    color:black !important;
  }

}
