<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center> {{ selectedCategory | uppercase }} DUNGEONS </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <b> space </b> //Space between navbar and content
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-card no-lines *ngFor="let dungeonCategory of dungeonsCollection">
      <ion-card-title class="t1" padding-horizontal>
        <img class="exp-logo" [src]="getExpLogo(dungeonCategory.dungeonSeries)" alt="">
      </ion-card-title>
        <button
                ion-item
                no-lines
                detail-push
                [navPush]="dungeonPage"
                [navParams]="dungeon"
                *ngFor="let dungeon of dungeonCategory.dungeons">
          <img margin-vertical class="dungeon-logo" item-left [src]="getDungeonIcon(dungeon.mainStoryQuest)" alt="">
          <span class="h2">{{ dungeon.dungeonName }}</span>
        </button>
    </ion-card>
  </ion-list>
</ion-content>
