page-dungeons-listing {
<<<<<<< HEAD
  .dungeon-logo{
    height: auto;
    width: 30px;
  }
  //overiding component css
  .item-inner {
    border-bottom: 0.55px solid #c8c7cc !important;
    border-bottom-width: 0.55px !important;
    border-bottom-style: solid !important;
    border-bottom-color: rgb(200, 199, 204) !important;
  }
=======
  //components override
  .list-md > .item-block:last-child .item-inner,
  .list-md > .item-wrapper:last-child ion-label,
  .list-md > .item-wrapper:last-child .item-inner {
    border-bottom: 0px solid #dedede !important;
  }
>>>>>>> Dark

}
