page-dungeons-listing {
  .dungeon-logo{
    height: auto;
    width: 30px;
  }
  //overiding component css
  .item-inner {
    border-bottom: 0.55px solid #c8c7cc !important;
    border-bottom-width: 0.55px !important;
    border-bottom-style: solid !important;
    border-bottom-color: rgb(200, 199, 204) !important;
  }

}
